img{
	max-width: 100%;
}
/********************************************************************************/
/********************************************************************************/
/*                             MEDIA 480 and lower                              */
/********************************************************************************/
/********************************************************************************/
@media only screen and ( max-width: 568px ){
	header{
		width: auto;
	}
	header h1{
	}
	nav#access, .utility, #donate, .content_banner{
		display: none;
	}
	/* post */
	#most_recent li.post{
		float: none;
		clear: both;
		width: 100%;
	}
}
/********************************************************************************/
/********************************************************************************/
/*                                                                              */
/********************************************************************************/
/********************************************************************************/